.principal{
	width: 100%;
}

.top{
	background-repeat:repeat;background-image:url('../../background2.jpg');
	height:75px;

}

h2{	
	color:midnightblue;
	font-family:Verdana,Arial,sans-serif;
}

h3{
	color:midnightblue;
}

.top .inline{
	display : inline;
	position: absolute;
}

.top .inline1{
	display : inline;
	position: absolute;
}

.top .inline2{
text-align: right;
vertical-align: center;
background-color:#cecab6;
}